<div class="container p-3">
  <div class="d-flex h-100 gap-3 ">
    <div class="col-4 h-100 border border-primary"><img class="w-100" src="<%= @listing.image_url ? @listing.image_url : "https://i.imgflip.com/1i34wa.jpg"%>" alt=""></div>
    <div class="col-8 h-100">
      <div class="row h-100">
        <div class="col">
          <div class="card w-100">
            <div class="card-body border border-danger">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3 w-75">
                  <h5 class="card-title fs-2 text-primary"><%= @listing.title%></h5>
                  <p class="card-text fs-5 text-secondary "><%= @listing.availability ? "Available" : "Not available"%></p>
                </div>
                <div class="d-flex align-items-center gap-2 p-2">
                  <%if @this_request && @this_request.user_id == current_user.id%>
                    <button type="button" class="btn btn-outline-success disabled" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Sent
                    </button>
                  <%elsif @listing.user_id == current_user.id%>

                    <%= link_to "Edit",edit_listing_path, class: "btn btn-outline-primary"%>

                  <%else%>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Request
                    </button>
                  <%end%>
                  <button type="button" class="btn btn-outline-info">
                    <i class="fa-regular fa-bookmark "></i>
                  </button>
                </div>
              </div>
              <p class="card-text text-primary"><%= @listing.content%></p>
              <div class="d-flex align-items-center">
                <p class="card-text fs-5 "></p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p class="card-text fs-5 text-secondary">$<%=@listing.price%>/Hour</p>
                <p class="card-text fs-5 text-secondary"><small><%=@listing.created_at.strftime("%F")%></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if @listing.user.id != current_user.id%>
      <div class="bg-danger p-3 mt-3">
        <h4 class="text-white my-4">Send a review</h4>
        <%= simple_form_for @review  do |f|%>
        <%= f.input :comment%>
        <%= f.input :rating%>
        <%= f.hidden_field :listing_id, value: @listing.id, class: "form-control border border-danger" %>
        <%= f.hidden_field :customer_id, value: current_user.id %>
        <%= f.submit "Send", class: "btn btn-primary"%>
      <%end%>
      <%end%>
      </div>
      
    </div>
  </div>
  <!-- Button trigger modal -->
  <!-- Modal -->
  <!-- request modal -->
  <div class="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="request">
    <div class="modal-dialog border border-danger">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send a request</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @request do |f| %>
            <%= f.input :message%>
            <%= f.hidden_field :listing_id, value: @listing.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="modal-footer">
              <%= f.submit "Send", class: "btn btn-outline-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
