<div class="container h-100 py-3">
  <h1 class = "mb-3">Hello <%= current_user.full_name %></h1>
  <div class="row h-100 gap-3">
    <div class="col-12 col-md-6 border border-danger rounded bg-light shadow-sm p-3" id="requests">
      <h4>Latest requests</h4>
      <%= render(RequestComponent.with_collection(@requests)) %>
    </div>
    <div style="max-height: 300px;" class="col border bg-light border-danger shadow-sm overflow-auto p-3 rounded" id="reviews">
        <h4>Latest reviews</h4>


      <%= render(ReviewComponent.with_collection(@reviews)) %>
    </div>
    <div class="col-12 border border-danger rounded bg-light shadow-sm p-3" id="listings">
      <div class="d-flex justify-content-between align-items-center p-2">
        <div>
          <h4>My listings</h4>
        </div>
        <div><%= link_to 'Create listing', new_listing_path, class: "btn btn-primary" %></div>
      </div>
      <%= render(ListingsComponent.new(listings: @listings))%>
    </div>
    <!--request modal-->
  </div>
  <!--request modal-->
</div>
